body {
  max-width: 600pt;
  margin: 0 auto;
  font-family: -apple-system, Arial;
}

nav {
  margin-top: 16pt;
}

nav a {
  margin-right: 8pt;
}

article img {
  max-width: 600pt;
  margin-right: auto;
}

pre {
  margin-left: 16pt;
}

footer {
  color: gray;
  font-size: 70%;
  margin-top: 16pt;
}
