* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    background: #fff;
    color: #000;
    font-family: -apple-system, Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-color: #eee;
}

header .wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a {
    text-decoration: underline;
}

nav li a.selected {
    text-decoration: none;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

h3 {
    margin: 15px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: #0c69da;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 10px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 10px;
}

.tag-list {
    margin-right: auto;
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #ddf4ff;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
    color: #0c69da;
}

.item-page .tag-list {
    display: inline-block;
}

.date {
    color: #8a8a8a;
    margin-bottom: 20px;
}

.content {
    margin-bottom: 40px;
}

.content ul {
    margin-left: 30px;
}

.content ul li {
    margin-bottom: 10px;
}

.content ul li ul {
    margin-top: 10px;
}

.content ol li {
    margin-left: 30px;
}

.content ol li {
    margin-bottom: 10px;
}

.content ol li ol {
    margin-top: 10px;
}

.content img {
    max-width: 600pt;
    margin-right: auto;
    margin-bottom: 10px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

p code {
    display: block;
    padding: 10px;
    margin-left: 20px;
    background-color: #eee;
}

pre {
    margin-bottom: 10px;
}

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#fff;color:#000}.xml .hljs-meta{color:silver}.hljs-comment,.hljs-quote{color:#007400}.hljs-attribute,.hljs-keyword,.hljs-literal,.hljs-name,.hljs-selector-tag,.hljs-tag{color:#aa0d91}.hljs-template-variable,.hljs-variable{color:#3f6e74}.hljs-code,.hljs-meta .hljs-string,.hljs-string{color:#c41a16}.hljs-link,.hljs-regexp{color:#0e0eff}.hljs-bullet,.hljs-number,.hljs-symbol,.hljs-title{color:#1c00cf}.hljs-meta,.hljs-section{color:#643820}.hljs-built_in,.hljs-class .hljs-title,.hljs-params,.hljs-title.class_,.hljs-type{color:#5c2699}.hljs-attr{color:#836c28}.hljs-subst{color:#000}.hljs-formula{background-color:#eee;font-style:italic}.hljs-addition{background-color:#baeeba}.hljs-deletion{background-color:#ffc8bd}.hljs-selector-class,.hljs-selector-id{color:#9b703f}.hljs-doctag,.hljs-strong{font-weight:700}.hljs-emphasis{font-style:italic}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0d1117;
    }

    body,
    header .site-name {
        color: #ddd;
    }

    a {
        color: #59a6ff;
    }

    .tag-list li,
    .tag {
        background-color: #152740;
    }

    .tag-list a,
    .tag a {
        color: #59a6ff;
    }

    p code {
        background-color: #333;
    }

    pre {
        border-left-color: #333;
    }

    pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
      Theme: Tokyo-night-Dark
      origin: https://github.com/enkia/tokyo-night-vscode-theme
      Description: Original highlight.js style
      Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
      License: see project LICENSE
      Touched: 2022
    */.hljs-comment,.hljs-meta{color:#565f89}.hljs-deletion,.hljs-doctag,.hljs-regexp,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-tag,.hljs-template-tag,.hljs-variable.language_{color:#f7768e}.hljs-link,.hljs-literal,.hljs-number,.hljs-params,.hljs-template-variable,.hljs-type,.hljs-variable{color:#ff9e64}.hljs-attribute,.hljs-built_in{color:#e0af68}.hljs-keyword,.hljs-property,.hljs-subst,.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#7dcfff}.hljs-selector-tag{color:#73daca}.hljs-addition,.hljs-bullet,.hljs-quote,.hljs-string,.hljs-symbol{color:#9ece6a}.hljs-code,.hljs-formula,.hljs-section{color:#7aa2f7}.hljs-attr,.hljs-char.escape_,.hljs-keyword,.hljs-name,.hljs-operator{color:#bb9af7}.hljs-punctuation{color:#c0caf5}.hljs{background:#1a1b26;color:#9aa5ce}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}

    header {
        background-color: #000;
    }
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}
